/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Mar 22, 2023, 8:43:27 PM
    Author     : abhis
*/

@import '../../../node_modules/primeflex/primeflex.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    @include styleclass('surface-ground');
}

body .ui-widget {
    font-family: 'Inter', sans-serif;
}

.ui-menu-list {
    margin-right: auto !important; /* 1 */
    margin-left:  auto !important; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px !important; /* 3 */
    padding-left:  10px !important; /* 3 */
}

.ui-menubar {
    @include styleclass('bg-gray-800 border-none border-noround');
}

.ui-menuitem-text {
    @include styleclass('text-white');
}

.ui-menuitem-link {
    @include styleclass('bg-gray-800');
}

.ui-menuitem-link:hover {
    @include styleclass('bg-gray-700');
}

.theme-toggle-button {
    height: 4.5rem !important;
}
/*body .ui-menu.ui-menubar>.ui-menu-list>.ui-menuitem>.ui-menuitem-link>span {
    display: flex !important;
    align-items: center !important;
}*/

