/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Mar 22, 2023, 8:43:27 PM
    Author     : abhis
*/

@import '../../../node_modules/primeflex/primeflex.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

body .ui-widget {
    font-family: 'Inter', sans-serif;
}

.ui-menubar {
    @include styleclass('surface-900 border-none border-noround');
}

.ui-menuitem-text {
    @include styleclass('text-0');
}

.ui-menuitem-link:hover {

    .ui-menuitem-text {
        @include styleclass('text-gray-900');
    }
}

/*body .ui-menu.ui-menubar>.ui-menu-list>.ui-menuitem>.ui-menuitem-link>span {
    display: flex !important;
    align-items: center !important;
}*/